/* ==========================================================================
   Base
   ========================================================================== */

body { 

background-color: #999999;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333333;


}

.container
{
padding: 25px;
}



/* =============================================================================
   Header
   ========================================================================== */

.banner { }

/* Fixed Topbar Navigation */
body.top-navbar { padding-top: 60px; }
body.admin-bar .navbar-fixed-top { top: 28px; }


.navbar-inner {
  background-image: -moz-linear-gradient(top, #ebebeb, #e0e0e0);
  background-image: -ms-linear-gradient(top, #ebebeb, #e0e0e0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ebebeb), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #ebebeb, #e0e0e0);
  background-image: -o-linear-gradient(top, #ebebeb, #e0e0e0);
  background-image: linear-gradient(top, #ebebeb, #e0e0e0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ebebeb, endColorstr='#'e0e0e0, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #ba5757;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #5276bf;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #5276bf;
}



/* ==========================================================================
   Content
   ========================================================================== */

  .wrap {
  background-color: #fff;
  }
   
.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info p { color: #999; font-size: .9em; margin: 0 auto; padding:0; text-align: center;}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}